<section class="screen screen-learning hidden">
  <header class="header">
    <h2 class="title js-learning-title"></h2>

    <section class="js-question-section question-section">
      <span class="js-question-text"></span>
    </section>
  </header>

  <section class="js-answer-hint answer-section invisible">
    <span class="js-answer-text">Test</span>
  </section>

  <div class="btn-nope-wrapper">
    <button class="btn btn-danger btn-nope js-dont-remember">
      <span><%= t("screens.learning.nope") %></span>
    </button>
  </section>
</section>
